.forecast {
    grid-row: 3/4;
    grid-column: 2/3;
}

.forecast-container {
    width: 80%;
    height: 20rem;

    display: grid;
    grid-template-columns: repeat(7, 1fr);

    justify-self: center;

    gap: 2rem;
}

.forecast__card {
    width: 100%;
    height: 90%;
    border-radius: 1rem;
    background-color: whitesmoke;
}

.day-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.day-of-week {
    font-size: 2rem;
    align-self: center;
}

.precipitation-type-icon {
    max-width: 80%;
    max-height: 50%;
    align-self: center;
}

.precipitation-type-icon > img {
    max-width: 100%;
    max-height: 100%;
}

.high {
    font-size: 1.5rem;
    margin-left: 1rem;
    font-weight: bold;
}

.low {
    margin-left: 1rem;
}

.rain-chance {
    margin-left: 1rem;
}

