.today {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.today-card-wrapper {
    flex-grow: 1;
}

.today__card {
    width: 80%;
    height: fit-content;

    padding: 0 5rem 0 5rem;

    border-radius: 1rem;
    background-color: whitesmoke;

    display: flex;
}

.today__title {
    font-size: 3rem;
}

.today__forecast {
    align-self: flex-start;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.today .precipitation-type-icon {
    width: 7rem;
    height: 7rem;
}

.today-high {
    
}