.today {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: darkolivegreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.today__card {
    flex-shrink: 0;
    flex-grow: 0;
    width: 80%;
    height: 70%;

    border-radius: 1rem;
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
}

.today__title {
    font-size: 3rem;
    margin-left: 4.75rem;
}

.today__forecast {
    align-self: flex-start;
    margin-left: 5rem;
}